:root {
  --blue-color: #4e647b;
  --blue-color-second: rgb(118, 182, 227);
}

#app {

    margin: 0 auto;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
  }


  .blueexpTitle {
    color: var(--blue-color-second);
  }
  
  .blueproj-title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .7rem;
    color: var(--blue-color-second);
  }

  .bluefirst-header {
    color: var(--blue-color);
  }


  .blueblock {
    height: 150px;
    background: var(--blue-color);
    transition: all 0.3s ease-in-out;
  }

  .bluehiIm {
    font-size: 6rem;
    font-weight: bolder;
    text-align: left;
    padding: 1rem;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    transform: scaleY(1.1);
}
.blueheadline {
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: left;
  letter-spacing: -1px;
  padding: 1rem;
  color: var(--blue-color);
  transition: all 0.3s ease-in-out;
  /* text-decoration: underline; */
}

.bluewrapper {
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 15rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}