:root {
  --blue-color: #4e647b;
}

#app {

    margin: 0 auto;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
  }


  .blueblock {
    height: 100px;
    background: var(--blue-color);
    transition: all 0.3s ease-in-out;
  }

  .bluehiIm {
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
    padding: 1rem;
    color: var(--blue-color);
    transition: all 0.3s ease-in-out;
    transform: scaleY(1.1);
}
.blueheadline {
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: left;
  letter-spacing: -1px;
  padding: 1rem;
  color: var(--blue-color);
  transition: all 0.3s ease-in-out;
  /* text-decoration: underline; */
}

.bluewrapper {
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 14rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}