:root {
    --default-color: #484444;
    --white-color: rgb(223, 222, 222);
    }
    #app {
        margin: 0 auto;
        font-weight: normal;
        font-family: 'Ubuntu', sans-serif;
      }
    
      .defaultblock {
        height: 100px;
        background: var(--default-color) ;
        transition: all 0.3s ease-in-out;
      }
    
      .defaultheadline {
        font-size: 2.3rem;
        font-weight: bolder;
        text-align: left;
        letter-spacing: -1px;
        padding: 1rem;
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
        /* text-decoration: underline; */
      }
    
      .defaultwrapper {
        position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          background: var(--default-color);
          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 1000;
          flex-flow: column;
          padding: 8rem 2rem;
          width: 14rem;
          text-align: center;
          transition: all 0.3s ease-in-out;
    
      }
    
      .defaulthiIm {
        font-size: 3rem;
        font-weight: bolder;
        text-align: left;
        padding: 1rem;
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
        transform: scaleY(1.8);
    }