:root {
    --default-color: #484444;
    --default-color-second: #d7cece;

    --white-color: rgb(223, 222, 222);
    }
    #app {
        margin: 0 auto;
        font-weight: normal;
        font-family: 'Ubuntu', sans-serif;
      }

      @media (max-width: 768px) {
        .defaultyears-bg {
          font-size: .7rem !important;
        }
        .defaultdesc-bg {
          margin-left: .6rem;
        }
        .defaulttitle-bg {
          margin-left: .6rem;
        }  
        .defaultyears-bg {
          margin: .5rem !important; 
        }
        .defaultproj-bg {
          height: 595px !important;
        }
      }

      .defaultproj-bg {
        background-color: #31204d;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        height: 500px;
        border-radius: 1px;
        position: relative;
        width: 320px;
        border-radius: 10px;
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
      }

      .defaultdescriptions {
        text-align: left;
        font-size: 1.5rem;
        color: var(--white-blue-second);
        padding: 5px;
      }

      .defaultexperience {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: var(--white-blue-second);
      }
    
      .defaulttitle-bg {
        background: var(--default-color);
        width: fit-content;
        padding: 0 10px;
        margin-top: 3rem;
        border-radius: 5px;
        transform: skewY(-5deg);
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
      }
    
      .defaultdesc-bg {
        background: var(--default-color);
        color: hotpink !important;
        width: fit-content;
        padding: 0 10px;
        margin-top: 3rem;
        border-radius: 5px;
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
      }
    
      @media (max-width: 768px) {
        .defaultyears-bg {
          font-size: .7rem !important;
        }
        .defaultdesc-bg {
          margin-left: .6rem;
        }
        .defaulttitle-bg {
          margin-left: .6rem;
        }  
        .defaultyears-bg {
          margin: .5rem !important; 
        }
      }

      .defaultyears-bg {
        background: var(--default-color-second);
        border-radius: 5px;
        padding: 15px;
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    
      .defaultyears-bg > h2 > i {
        font-weight: 600;
      }
    

      .defaultexpTitle {
        color: var(--default-color-second);
      }
      
      .defaultproj-title {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: .7rem;
        color: var(--default-color-second);
      }
    
      .defaultfirst-header {
        color: var(--default-color);
      }
    
      .defaultblock {
        height: 150px;
        background: var(--default-color) ;
        transition: all 0.3s ease-in-out;
      }
    
      .defaultheadline {
        font-size: 2.3rem;
        font-weight: bolder;
        text-align: left;
        letter-spacing: -1px;
        padding: 1rem;
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
        /* text-decoration: underline; */
      }
    
      .defaultwrapper {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          background: var(--default-color);
          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 1000;
          flex-flow: column;
          padding: 8rem 2rem;
          width: 15rem;
          text-align: center;
          transition: all 0.3s ease-in-out;
    
      }
    
      .defaulthiIm {
        font-size: 6rem;
        font-weight: bolder;
        text-align: left;
        padding: 1rem;
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
        transform: scaleY(1.1);
    }