:root {
  --green-color: #386633;
  --green-color-second: #5faf67;
  --green-color-third: #a8d08d;
  --green-color-fourth: #2e431a;
}

#app {
    margin: 0 auto;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
  }

  .greenproj-bg {
    background-color: var(--green-color-fourth);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 500px;
    border-radius: 1px;
    position: relative;
    width: 320px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }

  @media (max-width: 768px) {
    .greenyears-bg {
      font-size: .7rem !important;
    }
    .greendesc-bg {
      margin-left: .6rem;
    }
    .greentitle-bg {
      margin-left: .6rem;
    }  
    .greenyears-bg {
      margin: .5rem !important; 
    }
  }
  .greendescriptions {
    text-align: left;
    font-size: 1.5rem;
    padding: 5px;
  }

  .greenexperience {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;
  }

  .greentitle-bg {
    background: var(--green-color-second);
    width: fit-content;
    padding: 0 10px;
    margin-top: 3rem;
    border-radius: 5px;
    transform: skewY(-5deg);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }

  .greendesc-bg {
    background: var(--green-color-second);
    width: fit-content;
    padding: 0 10px;
    margin-top: 3rem;
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }

  .greenyears-bg {
    background: var(--green-color-second);;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .greenyears-bg > h2 > i {
    font-weight: 600;
  }



  .greenexpTitle {
    color: var(--green-color-second);
  }

  .greenproj-title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .7rem;
    color: var(--green-color-second);
  }

  .greenfirst-header {
    color: var(--green-color);
  }


  .greenblock {
    height: 150px;
    background: var(--green-color);
    transition: all 0.3s ease-in-out;
  }

  .greenhiIm {
    font-size: 6rem;
    font-weight: bolder;
    text-align: left;
    padding: 1rem;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    transform: scaleY(1.1);
}
.greenheadline {
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: left;
  letter-spacing: -1px;
  padding: 1rem;
  color: var(--green-color);
  transition: all 0.3s ease-in-out;
  /* text-decoration: underline; */
}

.greenwrapper {
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 15rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}