:root {
--red-color: #c2324a;
--white-color: rgb(223, 222, 222);
--red-color-second: #f36161;
--red-color-third: #eeeeee;
--red-color-fourth: #871515;
}
#app {
    margin: 0 auto;
    background: rgb(202, 23, 23);
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
  }

  .redproj-bg {
    background-color: var(--red-color-fourth);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 500px;
    border-radius: 1px;
    position: relative;
    width: 320px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
  @media (max-width: 768px) {
    .redyears-bg {
      font-size: .7rem !important;
    }
    .reddesc-bg {
      margin-left: .6rem;
    }
    .redtitle-bg {
      margin-left: .6rem;
    }  
    .redyears-bg {
      margin: .5rem !important; 
    }
  }

  .reddescriptions {
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.5rem;
  }

  .reddescriptions > i {

    font-weight: 700;
  }

  .redexperience {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white !important;

  }

  .redtitle-bg {
    background: var(--red-color-second);
    width: fit-content;
    padding: 0 10px;
    margin-top: 3rem;
    border-radius: 5px;
    transform: skewY(-5deg);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }

  .reddesc-bg {
    background: var(--red-color-second);
    width: fit-content;
    padding: 0 10px;
    margin-top: 3rem;
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }

  .redyears-bg {
    background: var(--red-color-second);;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .redyears-bg > h2 > i {
    font-weight: 600;
  }


  .redexpTitle {
    color: var(--red-color-second);
  }
  
  .redproj-title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .7rem;
    color: var(--red-color-second);
  }

  .redfirst-header {
    color: var(--red-color-third);
  }

  .redblock {
    height: 150px;
    background: var(--red-color);
    transition: all 0.3s ease-in-out;
  }

  .redheadline {
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: left;
    letter-spacing: -1px;
    padding: 1rem;
    color: var(--red-color);
    transition: all 0.3s ease-in-out;
    /* text-decoration: underline; */
  }

  .redwrapper {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: var(--red-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1000;
      flex-flow: column;
      padding: 8rem 2rem;
      width: 15rem;
      text-align: center;
      transition: all 0.3s ease-in-out;

  }

  .redhiIm {
    font-size: 6rem;
    font-weight: bolder;
    text-align: left;
    padding: 1rem;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    transform: scaleY(1.1);
    
}